@import 'base';

// Header
.header {
  background-color: $blueIntro;
  height: 8rem;
  .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 0 7%;
  }
  .nav__item {
    display: inline-block;
    margin-left: 3rem;
    opacity: .6;
    transition: opacity .5s ease-in-out;
   &:hover{
    opacity: 1;
    text-decoration: underline;
   }
  }
}

// Footer

// Buttons
.btn {
  color: $white;
  background: linear-gradient(to right, $cyan, $blue);
  padding: 2% 9%;
  border-radius: 2rem;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1.3rem;
  font-family: $headingFont;
  font-weight: 700;
  transition: filter .3s ease-in-out;
  &:hover {
    filter: contrast(145%);
  }
}
