// Intro section.

.intro {
  background-color: $blueIntro;
  background-image: url(../images/bg-curvy-desktop.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  .intro__content {
    padding: 5% 20%;
    text-align: center;
    margin: 0 auto;
    img {
    width: 80%;
    }
    h1 {
      padding: 5% 0;
    }
    .intro-p {
      width: 80%;
      margin: 0 auto;
    }
    .btn {
      margin: 5% 0;
    }
  }
}

// Features section.

.features {
  background-color: $blueMain;
  .features__box {
    padding: 3% 0;
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: baseline;
    text-align: center;
    grid-gap: 2rem;
    h3 {
      padding: 3% 0;
    }
  }
}

@media (max-width: 890px) {
  .features .features__box {
    grid-template-columns: auto;
  }
}

// Product section.

.product {
  background-color: $blueMain;
  .product__box {
    padding: 5% 0;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    column-gap: 4rem;
    .product__image img {
      width: 100%;
    }
    .product-p {
    margin-top: 5%;
    }
  }
}

@media (max-width: 890px) {
  .product .product__box {
    grid-template-columns: auto;
    row-gap: 2rem;
    .product__image {
      width: 80%;
      margin: 0 auto;
    }
    .product__content .product-p{
      margin-top: 3%;
    }
  }
}

// Testimonials section.

.testimonials {
  background-color: $blueMain;
  .testimonials__box{
    position: relative;
    padding: 7% 0 30%;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    grid-gap: 5rem;
    .testimonials__item {
      position: relative;
      z-index: 2;
      background-color: $blueTestim;
      padding: 10% 7% 7%;
      border-radius: .3rem;
      -webkit-box-shadow: .5rem .5rem .5rem -.1rem rgba(0,0,0,0.15);
      -moz-box-shadow: .5rem .5rem .5rem -.1rem rgba(0,0,0,0.15);
      box-shadow: .5rem .5rem .5rem -.1rem rgba(0,0,0,0.15);
    }
  }
}

@media (max-width: 890px) {
  .testimonials .testimonials__box {
    grid-template-columns: auto;
    row-gap: 4rem;
    .testimonials__item {
      padding: 5% 3% 3%;
      .testimonials__row {
        margin-top: 3%;
      }
    }
  }
}

.testimonials__row {
  display: inline-flex;
  justify-content: flex-start;
  align-content: space-between;
  margin-top: 7%;
  .testimonials__img {
    width: 13%;
    border-radius: 100%;
  }
   .testimonials__title {
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     margin-left: 4%;
   }
}

.testimonials__bg {
  position: absolute;
  z-index: 1;
  left: -0.7%;
  top: 7%;
  @media (max-width:1300px) {
    & {
      top: 3%;
    }
  }
  @media (max-width:930px) {
    & {
      top: 0;
    }
  }
}


// Testimonials animations.

.testimonials__item {
  transform: translate(0, 0);
  transition: transform .3s ease-in-out;
  &:hover {
    transform: translate(0, -1.3rem);
  }
}
