*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
  color: white;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

h1, h2, h3, h4 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 2.3rem;
  line-height: 3.2rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 0.7rem;
  opacity: 0.8;
}

a {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  color: white;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.intro-p {
  opacity: 0.9;
  font-size: 1.2rem;
  line-height: 1.7rem;
}

.features-p {
  opacity: 0.8;
  font-size: 0.9rem;
  line-height: 1.5rem;
}

.product-p {
  opacity: 0.8;
  font-size: 1rem;
  line-height: 1.6rem;
}

.testim-p {
  opacity: 0.8;
  font-size: 0.9rem;
  line-height: 1.5rem;
}

.credentials-p {
  opacity: 0.7;
  font-size: 0.6rem;
}

.cta-p {
  opacity: 0.8;
  font-size: 0.9rem;
  line-height: 1.5rem;
}

.header {
  background-color: #1c2431;
  height: 8rem;
}

.header .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 0 7%;
}

.header .nav__item {
  display: inline-block;
  margin-left: 3rem;
  opacity: .6;
  transition: opacity .5s ease-in-out;
}

.header .nav__item:hover {
  opacity: 1;
  text-decoration: underline;
}

.btn {
  color: white;
  background: linear-gradient(to right, #65e2d9, #339ecc);
  padding: 2% 9%;
  border-radius: 2rem;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1.3rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.btn:hover {
  filter: contrast(145%);
  transition: .3s ease-in-out;
}

.product__link {
  color: #65e2d9;
  opacity: 0.8;
  width: 10.5rem;
  font-size: 1rem;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
  line-height: 1.5rem;
  position: relative;
}

.product__link::after {
  content: "";
  height: 1%;
  width: 100%;
  background: #65e2d9;
  opacity: 0.8;
  position: absolute;
  left: 0;
  bottom: 0;
  margin-top: 3%;
}

.product__link img {
  height: 1rem;
}

.product__link .far {
  font-size: 0.8rem;
}

.product__link:hover, .product__link:hover::after {
  color: white;
  opacity: 1;
  transition: .5s ease-in-out;
}

.product__link:hover::after {
  background: white;
}

.cta {
  position: absolute;
  width: 100%;
  background-color: #0b1523;
}

.cta__box {
  background-color: #1c2431;
  width: 70%;
  margin: -10% auto 0;
  padding: 3% 5%;
  text-align: center;
  border-radius: .5rem;
  -webkit-box-shadow: 12px 12px 5px -4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 12px 12px 5px -4px rgba(0, 0, 0, 0.2);
  box-shadow: 12px 12px 5px -4px rgba(0, 0, 0, 0.2);
}

.cta__box .cta-p {
  padding: 3% 10%;
}

.cta__box .btn {
  padding: 1.4% 3%;
  font-size: 0.9rem;
  margin-left: 2%;
}

input {
  border-radius: 4rem;
  padding: 1.4% 4%;
  outline: none;
  border: none;
  width: 65%;
  font-size: 0.9rem;
}

.footer {
  padding: 10% 0;
  background-color: #0b1523;
}

.intro {
  background-color: #1c2431;
  background-image: url(../images/bg-curvy-desktop.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

.intro .intro__content {
  padding: 5% 20%;
  text-align: center;
  margin: 0 auto;
}

.intro .intro__content img {
  width: 80%;
}

.intro .intro__content h1 {
  padding: 5% 0;
}

.intro .intro__content .intro-p {
  width: 80%;
  margin: 0 auto;
}

.intro .intro__content .btn {
  margin: 5% 0;
}

.features {
  background-color: #181f2a;
}

.features .features__box {
  padding: 3% 0;
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: baseline;
  text-align: center;
}

.features .features__box .features__item {
  margin: auto;
}

.features .features__box h3 {
  padding: 3% 0;
}

.product {
  background-color: #181f2a;
}

.product .container {
  padding: 5% 0;
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  column-gap: 4rem;
}

.product .product-p {
  margin-top: 5%;
}

.testimonials {
  background-color: #181f2a;
}

.testimonials .testimonials__box {
  position: relative;
  padding: 7% 0 30%;
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  grid-gap: 5rem;
}

.testimonials .testimonials__box .testimonials__item {
  position: relative;
  z-index: 2;
  background-color: #202a3c;
  padding: 10% 7% 7%;
  border-radius: .3rem;
}

.testimonials__row {
  display: inline-flex;
  justify-content: flex-start;
  align-content: space-between;
  margin-top: 7%;
}

.testimonials__row .testimonials__img {
  width: 13%;
  border-radius: 100%;
}

.testimonials__row .testimonials__title {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 4%;
}

.testimonials__bg {
  position: absolute;
  z-index: 1;
  left: -0.7%;
  top: 9%;
}
