* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 2000px;
  margin: 0 auto;
}

a, p {
  color: #2d314d;
  opacity: 0.7;
  font-family: 'Public Sans', sans-serif;
  font-weight: 300;
  text-decoration: none;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #2d314d;
  font-family: 'Public Sans', sans-serif;
  font-weight: 400;
  padding-bottom: 1.5rem;
}

.big-heading {
  font-size: 3.5rem;
  line-height: 4rem;
}

.medium-heading {
  font-size: 2.5rem;
  line-height: 3rem;
}

h3 {
  font-size: 1.5rem;
}

.container {
  padding: 5% 7%;
}

.navbar-spacer {
  display: none;
}

.show-spacer {
  display: block;
  height: 3.5rem;
  width: 100%;
}

.sticky {
  position: fixed;
  width: 86%;
}

.dropdown-btn {
  display: none;
  border: none;
  cursor: pointer;
  outline: none;
  background-image: url(../images/icon-hamburger.svg);
  background-color: transparent;
  width: 24px;
  height: 11px;
}

.close-btn {
  background-image: url(../images/icon-close.svg);
  width: 18px;
  height: 19px;
}

.btn {
  background: #2bb7da;
  border-radius: 100px;
  height: 40px;
  line-height: 14px;
  color: #FFFFFF;
  width: 125px;
  font-size: 13px;
  font-weight: 300;
  padding: 5px;
  border: solid #2bb7da 1px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  outline: none;
  background: linear-gradient(to right, #2bb7da, #31d35c);
}

.btn:hover {
  border: solid #2bb7da 1px;
  background: #31d35c;
  border-radius: 100px;
  background: linear-gradient(to right, #31d35c, #2bb7da);
}

nav {
  background: white;
  padding: 0 7%;
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 3;
}

nav .navbar {
  list-style: none;
  display: inline-block;
}

nav li {
  margin-left: 2rem;
  display: inline-block;
  position: relative;
  opacity: 0.7;
}

nav a {
  font-size: 0.8rem;
}

nav .btn {
  height: 35px;
}

nav li:hover {
  opacity: 1;
}

nav li::after {
  content: "";
  position: absolute;
  background: linear-gradient(to right, #31d35c, #2bb7da);
  width: 100%;
  height: 3px;
  left: 0;
  margin-top: 2.1rem;
  opacity: 0;
}

nav li:hover::after {
  opacity: 1;
  transition: opacity .5s ease-in-out;
}

.header {
  background: #fafafa;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.header .text-content {
  width: 50%;
  position: relative;
  z-index: 2;
}

.header .intro-background {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
  width: 45%;
}

.header .intro-image {
  width: 32%;
  position: absolute;
  z-index: 2;
  top: -7rem;
  right: 0;
}

.header .btn {
  margin-top: 1.5rem;
}

.main {
  background-color: #f3f4f6;
}

.main .main-heading {
  width: 40%;
}

.main .main-box {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
}

.main .main-item:not(.last) {
  margin-right: 4rem;
}

.main .rounded-img {
  padding: 4.5rem 0 2rem 0;
}

.news {
  background: #fafafa;
}

.news .news-box {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.news .article-img {
  width: 100%;
}

.news .article-card {
  background: #FFF;
}

.news .article-card:not(.last) {
  margin-right: 4rem;
}

.news .article-card :not(.article-img) {
  padding: 0.5rem 1rem;
}

.news p:first-of-type {
  font-size: 0.8rem;
  margin-top: 1rem;
}

.news p:last-of-type {
  font-size: 0.9rem;
}

.news h4:hover {
  color: #04de90;
  cursor: pointer;
}

.footer {
  padding: 3% 7%;
  background: #2d314d;
  position: relative;
}

.footer a {
  color: white;
  opacity: inherit;
}

.footer a:hover {
  color: #55f490;
  transition: color .3s ease-in-out;
}

.footer p {
  color: white;
  opacity: 0.5;
  font-size: 0.8rem;
}

.footer .fab {
  font-size: 2rem;
}

.footer .item-top {
  position: absolute;
  top: 25%;
}

.footer .item-bottom {
  position: absolute;
  bottom: 30%;
}

.footer .social-media-box a:not(.fb) {
  margin-left: 1.5rem;
}

.footer .footer-navbar1 li, .footer .footer-navbar2 li {
  display: block;
}

.footer .footer-navbar1 a, .footer .footer-navbar2 a {
  line-height: 3rem;
}

.footer .footer-navbar1 {
  margin-left: 30%;
}

.footer .footer-navbar2 {
  margin-left: 10%;
}

.footer .part {
  display: inline-block;
}

.footer .btn {
  position: absolute;
  top: 25%;
  right: 7%;
}

.footer .copyright {
  position: absolute;
  right: 7%;
  bottom: 30%;
}

.attribution {
  position: relative;
  font-size: 11px;
  text-align: right;
  color: white;
  padding-top: 1rem;
}

.attribution a {
  color: white;
  opacity: 0.8;
}

@media (max-width: 1200px) {
  .big-heading {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .medium-heading {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  nav .btn {
    display: none;
  }
  nav a {
    font-size: 0.9rem;
  }
  .header .intro-background {
    right: 0;
    bottom: 0;
    width: 50%;
  }
  .header .intro-image {
    width: 39%;
    top: -6rem;
  }
  .main .main-heading {
    width: 50%;
  }
  .main .main-item {
    margin-right: 0 !important;
  }
  .main .rounded-img {
    padding: 1.5rem 0 2rem 0;
  }
  .main .main-box {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 2rem;
  }
  .grid-item1 {
    grid-column: 1 / 2;
  }
  .grid-item2 {
    grid-column: 2 / 3;
  }
  .grid-item3 {
    grid-column: 1 / 2;
  }
  .grid-item4 {
    grid-column: 2 / 3;
  }
  .news .news-box {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    grid-gap: 2rem;
  }
  .grid-card1 {
    grid-column: 1 / 2;
  }
  .grid-card2 {
    grid-column: 2 / 3;
  }
  .grid-card3 {
    grid-column: 1 / 2;
  }
  .grid-card4 {
    grid-column: 2 / 3;
  }
  .news .article-card, .last {
    margin-right: 0 !important;
  }
  .footer p {
    font-size: 0.6rem;
  }
  .footer .fab {
    font-size: 1.5rem;
  }
  .footer .social-media-box a:not(.fb) {
    margin-left: 1.5rem;
  }
  .footer .footer-navbar1 li, .footer .footer-navbar2 li {
    display: block;
  }
  .footer .footer-navbar1 a, .footer .footer-navbar2 a {
    line-height: 2.5rem;
    font-size: 0.8rem;
  }
  .footer .footer-navbar1 {
    margin-left: 40%;
  }
  .footer .footer-navbar2 {
    margin-left: 5%;
  }
}

@media (max-width: 835px) {
  .big-heading {
    font-size: 2.2rem;
    line-height: 2.5rem;
  }
  .medium-heading {
    font-size: 1.8rem;
    line-height: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  .header .intro-background {
    right: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
  }
  .header .intro-image {
    width: 50%;
    top: -6rem;
  }
  .main .main-heading {
    width: 60%;
  }
  .footer .footer-navbar1 {
    margin-left: 45%;
  }
  .footer .footer-navbar1 a, .footer .footer-navbar2 a {
    line-height: 2rem;
    font-size: 0.8rem;
  }
  .footer p {
    line-height: 0.8rem;
  }
}

@media (max-width: 700px) {
  a {
    opacity: inherit;
  }
  nav .dropdown-btn {
    display: block;
  }
  nav .navbar {
    list-style-type: none;
  }
  nav .dropdown-content {
    margin: 5% 7%;
    padding: 2% 0;
    background: white;
    position: fixed;
    text-align: center;
    right: 0;
    left: 0;
    display: none;
    z-index: 3;
    box-shadow: #2d314d 0px 2px 10px 0px;
  }
  nav .dropdown-content li {
    display: block;
    line-height: 2rem;
    opacity: inherit;
    margin: inherit;
  }
  nav .dropdown-content li a {
    font-weight: 400;
    color: #2d314d;
  }
  nav .show {
    display: block;
  }
  nav .dropdown-content li:hover::after {
    opacity: 0;
  }
  nav .dropdown-content li::after {
    display: none;
  }
  .header {
    position: relative;
    display: inherit;
    justify-content: inherit;
  }
  .header .container {
    padding: 0;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
  }
  .header .text-content {
    padding: 5% 5% 20%;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    text-align: center;
    width: inherit;
  }
  .header .intro {
    width: 100%;
    padding: 0%;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    text-align: right;
  }
  .header .intro-background {
    text-align: right;
    right: 0;
    bottom: 0;
    width: 90%;
    height: 90%;
    position: relative;
  }
  .header .intro-image {
    text-align: center;
    width: 60%;
    top: -2rem;
    left: 20%;
    position: absolute;
  }
  .main {
    text-align: center;
  }
  .main .container {
    padding: 20% 5%;
  }
  .main .main-heading {
    text-align: center;
    width: inherit;
  }
  .main .main-box {
    display: grid;
    grid-template-columns: auto;
    grid-gap: inherit;
    row-gap: 2rem;
  }
  .grid-item1 {
    grid-column: 1 / 2;
  }
  .grid-item2 {
    grid-column: 1 / 2;
  }
  .grid-item3 {
    grid-column: 1 / 2;
  }
  .grid-item4 {
    grid-column: 1 / 2;
  }
  .news .container {
    padding: 20% 5%;
  }
  .news .news-box {
    display: grid;
    grid-template-columns: auto;
    justify-content: inherit;
    row-gap: 2rem;
  }
  .news .medium-heading {
    text-align: center;
  }
  .grid-card1 {
    grid-column: 1 / 2;
  }
  .grid-card2 {
    grid-column: 1 / 2;
  }
  .grid-card3 {
    grid-column: 1 / 2;
  }
  .grid-card4 {
    grid-column: 1 / 2;
  }
  .footer {
    padding: 10% 7%;
    background: #2d314d;
    position: relative;
    text-align: center;
  }
  .footer p {
    color: white;
    opacity: 0.5;
    font-size: 0.8rem;
  }
  .footer .fab {
    font-size: 1rem;
  }
  .footer .item-top {
    position: inherit;
  }
  .footer .item-bottom {
    position: inherit;
    margin-top: 1rem;
  }
  .footer .social-media-box a:not(.fb) {
    margin-left: 1rem;
  }
  .footer .footer-navbar1 li, .footer .footer-navbar2 li {
    display: block;
  }
  .footer .footer-navbar1 a, .footer .footer-navbar2 a {
    line-height: 2rem;
    font-size: 1rem;
  }
  .footer .footer-navbar1 {
    margin: inherit;
    padding-top: 10%;
  }
  .footer .footer-navbar2 {
    margin: inherit;
    padding-bottom: 10%;
  }
  .footer .part {
    display: block;
  }
  .footer .btn {
    position: inherit;
    right: inherit;
    top: inherit;
  }
  .footer .copyright {
    position: inherit;
    right: inherit;
    bottom: inherit;
    padding-top: 10%;
  }
  .attribution {
    text-align: center;
  }
}
