@import "colors";
@import "fonts";

* {
  margin: 0;
  padding: 0;

}

body {
  max-width: 2000px;
  margin: 0 auto;
}

a, p {
  color: $textColor;
  opacity: 0.7;
  @include textFont;
  text-decoration: none;
}

p {
  font-size: 1rem;
  line-height: 1.5rem
}

// Headings

h1, h2, h3, h4, h5, h6 {
  color: $textColor;
  @include headingFont;
  padding-bottom: 1.5rem;
}

.big-heading {
  font-size: 3.5rem;
  line-height: 4rem;
}

.medium-heading {
  font-size: 2.5rem;
  line-height: 3rem;
}

h3 {
  font-size: 1.5rem;
}

// Containers

.container {
  padding: 5% 7%;
}

// Tools

.navbar-spacer {
  display: none;
}

.show-spacer {
  display: block;
  height: 3.5rem;
  width: 100%;
}

// making navbar fixed
.sticky {
  position: fixed;
  width: 90%;
}

// Buttons

.dropdown-btn {
  display: none;
  border: none;
  cursor: pointer;
  outline: none;
  background-image: url(../images/icon-hamburger.svg);
  background-color: transparent;
  width: 24px;
  height: 11px;
}

.close-btn {
  background-image: url(../images/icon-close.svg);
  width: 18px;
  height: 19px;
  margin-right: 1.8rem;
}

.btn {
   background: $hoverColor2;
   border-radius: 100px;
   height: 40px;
   line-height: 14px;
   color: #FFFFFF;
   width: 125px;
   font-size: 13px;
   font-weight: 300;
   padding: 5px;
   border: solid $hoverColor2 1px;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   outline: none;
   background: linear-gradient(to right, $hoverColor2, $hoverColor1);
}

.btn:hover {
   border: solid $hoverColor2 1px;
   background: $hoverColor1;
   border-radius: 100px;
   background: linear-gradient(to right, $hoverColor1, $hoverColor2);
}

// Styling for desktop.

// Nav section.

nav {

  background: $navbarBackground;
  padding: 0 7%;
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 3;
    .navbar {
      list-style: none;
      display: inline-block;
    }
    li {
      margin-left: 2rem;
      display: inline-block;
      position: relative;
      opacity: 0.7;
    }
    a {
      font-size: 0.8rem;
    }
    .btn {
      height: 35px;
    }
}
nav li:hover {
  opacity: 1;
}
nav li::after {
  content: "";
  position: absolute;
  background: linear-gradient(to right, $hoverColor1, $hoverColor2);
  width: 100%;
  height: 3px;
  left: 0;
  margin-top: 2.1rem;
  opacity: 0;
}
nav li:hover::after {
  opacity: 1;
  transition: opacity .5s ease-in-out;
}
// Header section.

.header {
  background: $sectionBackground;
  position: relative;
  display: flex;
  justify-content: space-between;
    .text-content {
      width: 50%;
      position: relative;
      z-index: 2;
    }
    .intro-background {
      position: absolute;
      z-index: 1;
      right: 0;
      bottom: 0;
      width: 45%;
    }
    .intro-image {
      width: 32%;
      position: absolute;
      z-index: 2;
      top: -7rem;
      right: 0;
    }
    .btn {
      margin-top: 1.5rem;
    }
}

// Main section.

.main {
  background-color: $mainBackground;
      .main-heading {
        width: 40%;
      }
      .main-box {
        display: flex;
        justify-content: space-between;
        align-content: flex-start;
        align-items: flex-start;
      }
      .main-item:not(.last) {
        margin-right: 4rem;
      }
      .rounded-img {
        padding: 4.5rem 0 2rem 0;
      }
}

// News section.

.news {
  background: $sectionBackground;
    .news-box {
      display: flex;
      justify-content: space-between;
      margin-top: 2rem;
    }
    .article-img {
       width: 100%;
    }
    .article-card {
      background: #FFF;
    }
    .article-card:not(.last) {
       margin-right: 4rem;
    }
    .article-card :not(.article-img) {
        padding: 0.5rem 1rem;
    }
    p:first-of-type {
      font-size: 0.8rem;
      margin-top: 1rem;
    }
    p:last-of-type {
      font-size: 0.9rem;
    }
    h4:hover {
      color: #04de90;
      cursor: pointer;
    }
}

// Footer section.

.footer {
  padding: 3% 7%;
  background: $footerBackground;
  position: relative;
    a {
      color: white;
      opacity: inherit;
    }
    a:hover {
      color: #55f490;
      transition: color .3s ease-in-out;
    }
    p {
      color: white;
      opacity: 0.5;
      font-size: 0.8rem;
    }
    .fab {
      font-size: 2rem;
    }
    .item-top {
      position: absolute;
      top: 25%;
    }
    .item-bottom {
      position: absolute;
      bottom: 30%;
    }
    .social-media-box a:not(.fb) {
      margin-left: 1.5rem;
    }
    .footer-navbar1 li, .footer-navbar2 li{
      display: block;
    }
    .footer-navbar1 a, .footer-navbar2 a {
      line-height: 3rem;
    }
    .footer-navbar1 {
      margin-left: 30%;
    }
    .footer-navbar2 {
      margin-left: 10%;
    }
    .part {
      display: inline-block;
    }
    .btn {
      position: absolute;
      top: 25%;
      right: 7%;
    }
    .copyright {
      position: absolute;
      right: 7%;
      bottom: 30%;
    }
}

// Attribution.

.attribution {
  position: relative;
  font-size: 11px;
  text-align: right;
  color: white;
  padding-top: 1rem;

}
.attribution a {
  color: white;
  opacity: 0.8;
}

// Styling for laptop/tablet size

@media (max-width: 1200px) {
  .big-heading {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .medium-heading {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  nav .btn {
    display: none;
  }
  nav a {
    font-size: 0.9rem;
  }

 // Header section.
  .header {
      .intro-background {
        right: 0;
        bottom: 0;
        width: 50%;
      }
      .intro-image {
        width: 39%;
        top: -6rem;
      }
    }

// Main section.
   .main {
      .main-heading {
        width: 50%;
      }
        .main-item {
        margin-right: 0 !important;
      }
        .rounded-img {
        padding: 1.5rem 0 2rem 0;
      }
    }
    .main .main-box {
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 2rem;
    }
    .grid-item1 {
      grid-column: 1 / 2;
    }
    .grid-item2 {
      grid-column: 2 / 3;
    }
    .grid-item3 {
      grid-column: 1 / 2;
    }
    .grid-item4 {
      grid-column: 2 / 3;
    }

 // News section.
    .news .news-box {
      display: grid;
      grid-template-columns: auto auto;
      justify-content: space-around;
      grid-gap: 2rem;
    }
    .grid-card1 {
      grid-column: 1 / 2;
    }
    .grid-card2 {
      grid-column: 2 / 3;
    }
    .grid-card3 {
      grid-column: 1 / 2;
    }
    .grid-card4 {
      grid-column: 2 / 3;
    }
    .news .article-card, .last {
      margin-right: 0 !important;
    }

 // Footer section.
    .footer {
        p {
          font-size: 0.6rem;
        }
        .fab {
          font-size: 1.5rem;
        }
        .social-media-box a:not(.fb) {
          margin-left: 1.5rem;
        }
        .footer-navbar1 li, .footer-navbar2 li{
          display: block;
        }
        .footer-navbar1 a, .footer-navbar2 a {
          line-height: 2.5rem;
          font-size: 0.8rem;
        }
        .footer-navbar1 {
          margin-left: 40%;
        }
        .footer-navbar2 {
          margin-left: 5%;
        }
      }
}

@media (max-width: 835px) {
  .big-heading {
    font-size: 2.2rem;
    line-height: 2.5rem;
  }
  .medium-heading {
    font-size: 1.8rem;
    line-height: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }

// Header section.
  .header {
      .intro-background {
        right: 0;
        bottom: 0;
        width: 50%;
        height: 100%;
      }
      .intro-image {
        width: 50%;
        top: -6rem;
      }
    }

// Main section.
    .main {
      .main-heading {
        width: 60%;
      }
    }

// Footer section.
    .footer {
        .footer-navbar1 {
          margin-left: 45%;
        }
        .footer-navbar1 a, .footer-navbar2 a {
          line-height: 2rem;
          font-size: 0.8rem;
        }
        p {
          line-height: 0.8rem;
        }
      }
}

// Styling for tablet/mobile size
@media (max-width: 700px) {

// Dropdown-menu
  a {
    opacity: inherit;
  }

   nav {
      .dropdown-btn {
        display: block;
      }
      .navbar {
        list-style-type: none;
      }
      .dropdown-content {
        margin: 5% 7%;
        padding: 2% 0;
        background: white;
        position: fixed;
        text-align: center;
        right:0;
        left:0;
        display: none;
        z-index: 3;
        box-shadow: rgba(45, 49, 77, 20) 0px 2px 10px 0px;
      }
      .dropdown-content li {
        display: block;
        line-height: 2rem;
        opacity: inherit;
        margin: inherit;
      }
      .dropdown-content li a {
        font-weight: 400;
        color: $textColor;
      }
      .show {
        display: block;
      }
      // Hiding desktop hover effect.
      .dropdown-content li:hover::after {
        opacity: 0;
      }
      .dropdown-content li::after {
        display: none;
      }
    }

// Header section.
  .header {
    position: relative;
    display: inherit;
    justify-content: inherit;
        .container {
          padding: 0;
          display: grid;
          grid-template-columns: auto;
          justify-content: center;
        }
        .text-content {
          padding: 5% 5% 20%;
          grid-column: 1 / 2;
          grid-row: 2 / 3;
          text-align: center;
          width: inherit;
        }
        .intro {
          width: 100%;
          padding: 0%;
          grid-column: 1 / 2;
          grid-row: 1 / 2;
          text-align: right;
        }
        .intro-background {
          text-align: right;
          right: 0;
          bottom: 0;
          width: 90%;
          height: 90%;
          position: relative;
        }
        .intro-image {
          text-align: center;
          width: 60%;
          top: -2rem;
          left: 20%;
          position: absolute;
        }
      }

// Main section.
    .main {
        text-align: center;
      }
      .main .container {
        padding: 20% 5%;
      }
      .main .main-heading {
        text-align: center;
        width: inherit;
      }
      .main .main-box {
        display: grid;
        grid-template-columns: auto;
        grid-gap: inherit;
        row-gap: 2rem;
      }
      .grid-item1 {
        grid-column: 1 / 2;
      }
      .grid-item2 {
        grid-column: 1 / 2;
      }
      .grid-item3 {
        grid-column: 1 / 2;
      }
      .grid-item4 {
        grid-column: 1 / 2;
      }

// News section.
      .news .container {
        padding: 20% 5%;
      }
      .news .news-box {
        display: grid;
        grid-template-columns: auto;
        justify-content: inherit;
        row-gap: 2rem;
      }
      .news .medium-heading{
        text-align:center;
      }
      .grid-card1 {
        grid-column: 1 / 2;
      }
      .grid-card2 {
        grid-column: 1 / 2;
      }
      .grid-card3 {
        grid-column: 1 / 2;
      }
      .grid-card4 {
        grid-column: 1 / 2;
      }

// Footer section.
      .footer {
        padding: 10% 7%;
        background: $footerBackground;
        position: relative;
        text-align: center;
          p {
            color: white;
            opacity: 0.5;
            font-size: 0.8rem;
          }
          .fab {
            font-size: 1rem;
          }
          .item-top {
            position: inherit;

          }
          .item-bottom {
            position: inherit;
            margin-top: 1rem;
          }
          .social-media-box a:not(.fb) {
            margin-left: 1rem;
          }
          .footer-navbar1 li, .footer-navbar2 li{
            display: block;
          }
          .footer-navbar1 a, .footer-navbar2 a {
            line-height: 2rem;
            font-size: 1rem;
          }
          .footer-navbar1 {
            margin: inherit;
            padding-top: 10%;
          }
          .footer-navbar2 {
            margin: inherit;
            padding-bottom: 10%;
          }
          .part {
            display: block;
          }
          .btn {
            position: inherit;
            right: inherit;
            top: inherit;
          }
          .copyright {
            position: inherit;
            right: inherit;
            bottom: inherit;
            padding-top: 10%;
          }
      }
      .attribution {
        text-align: center;
      }
}
